/* Position the button at the lower right corner */
#visibilityToggle {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;

}

 .button {
     font-family: 'Orbitron', sans-serif;
     font-weight: bold;
     border: 10px solid  #c1d6ce;
     background-color: #e3eeed;
     outline: none;
     cursor: pointer;
     padding: 10px 20px;
     font-size: 18px;
     width: 10%;
     transform: skew(-10deg);
 }

.skew-right {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    border: 1px solid #64818c;
    background-color: #c1d6ce;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    width: 33%;
    transform: translateX(-10px);
}

.button:active {
    background-color: #64818c;
    color: white;
    transform: skew(-10deg);
}